[submodule "lib/openfl-opengl"]
	path = lib/openfl-opengl
	url = git@github.com:pecheny/openfl-opengl.git
[submodule "lib/alayout"]
	path = lib/alayout
	url = git@github.com:pecheny/alayout.git
[submodule "lib/flgl"]
	path = lib/flgl
	url = C:\\Users\\shoo\\Projects\\01-HaxeProjects\\flgl-new\\bare
[submodule "lib/input"]
	path = lib/input
	url = C:\\\\Users\\\\shoo\\\\Projects\\\\01-Haxe\\\\-bare-git-\\\\input
[submodule "lib/fsm"]
	path = lib/fsm
	url = git@github.com:pecheny/fsm.git
